<html>
<head>
	<title></title>
    <style>
        body { margin: 0; font-family:Arial; }
        ul { padding:0px; margin: 0; display: block;float: left; width:50px; }
            ul li, ul li a { color:#fff; }
            ul li { margin:0px; padding:5px; display:block; width:40px;  color:#fff; background-color: #333; border:1px solid #ccc; border-top:0px solid red; text-align: center; }
    </style>
</head>
<body>
    <div id="container"></div>

    <script type="text/template" id="tmplt-Activities">
        <ul class="d<%= currentDayofMonth %>"></ul>
    </script>

    <script type="text/template" id="tmplt-Activity">
        <% if( extra.url != null) { %>
            <a href="<%= extra.url %>" target="_blank"><%= extra.currentMonth %> <%= extra.currentDayofMonth %></a>
        <% }else{ %>
            <span><%= extra.currentMonth %> <%= extra.currentDayofMonth %></span>
        <% } %>
    </script>

    <script src="scripts/libs/jquery-1.7.1.js" type="text/javascript"></script>
    <script src="scripts/libs/underscore.js" type="text/javascript"></script>
    <script src="scripts/libs/backbone.js" type="text/javascript"></script>
    <script src="gitivity.js" type="text/javascript"></script>   
</body>
</html>
